<link rel="icon" type="image/png" href="{{ '/assets/favicon/favicon-96x96.png'|url }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ '/assets/favicon/favicon.svg'|url }}" />
<link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico'|url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png'|url }}" />
<link rel="manifest" href="{{ '/assets/site.webmanifest'|url }}">
<meta name="theme-color" content="#daf6f6">
