<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-96x96.png' | url }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon/favicon.svg' | url }}" />
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#2e7d7d">
