<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p style="text-align: center !important; margin-left: 35px;font-weight: bold;">
            MVDr. Jana Lukešová, Na Skalce 991/27, Praha 5 – Smíchov,&nbsp;150 00, IČO&nbsp;64629406
            <br>
            Tyto stránky nezpracovávájí žádné osobní údaje.
        </p>
    </div>
</footer>
