<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} MVDr. Jana Lukešová</span></p>
    </div>
</footer>
