{#
<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} MVDr. Jana Lukešová</span></p>
    </div>
</footer>
#}

<footer>
    <div class="footer-by">
        <p style="text-align: left !important; margin-left: 35px">
            Prohlášení o zpracování osobních udajů
            <a href="/gdpr" target="_blank">zde</a>
        </p>
    </div>
</footer>
