{% for item in collections.all|eleventyNavigation %}
    {% if item.url %}
        {% set isCurrent = (item.url == page.url) %}
        {% set isParent = item.url != '/' and item.url in page.url %}
        <a
            class="nav-link {% if isCurrent or isParent %} active{% endif %}"
            href="{{ item.url|url }}"
            {% if isCurrent %} aria-current="page" {% endif %}
        >
            {{ item.title }}
        </a>
    {% endif %}
{% endfor %}
