{% for item in navigation.items %}
    {# Set attributes and classes to blank to start #}
    {% set relAttribute = '' %}
    {% set currentAttribute = '' %}
    {% set itemUrl = item.url %}
    {% set target = '' %}
    {% set active = '' %}

    {# Set Attributes #}
    {% if item.rel %}
        {% set relAttribute = ' rel="' + item.rel + '"' %}
    {% endif %}

    {% if page.url | lower == item.url | lower %}
        {% set currentAttribute = ' aria-current="page"' %}
        {% set active = 'active' %}
    {% endif %}
    <a
        class="nav-link {{ active }}"
        href="{{ itemUrl }}"
        {{ currentAttribute | safe }}
        {{ target }}
        {{ relAttribute | safe }}
    >
        {{ item.text }}
    </a>
{% endfor %}
