{% for post in postslist|reverse %}
    {% if post.url != url %}
        <article class="card position-relative">
            <div class="card-body">
                <h2>
                    <a href="{{ post.url|url }}" class="stretched-link">
                        {{ post.data.title }}
                    </a>
                </h2>
                <p>{{ post.data.perex }}</p>
            </div>
        </article>
    {% endif %}
{% endfor %}
