---
permalink: '{{ redirect.from }}'
pagination: { data: redirects.redirects, size: 1, alias: redirect }
---
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url={{ redirect.to }}">
    <link rel="canonical" href="{{ redirect.to }}">
    <title>Přesměrovávám na {{ redirect.to }}</title>
    <script>window.location.href = "{{ redirect.to }}"</script>
</head>
<body>
    <h1>Stránka byla přemístěna jinam.</h1>
    <p>Přesměrovávám na <a href="{{ redirect.to }}">{{ redirect.to }}</a></p>
</body>
</html>
