---
redirects:
  - from: /old-page-1/
    to: /new-page-1/
  - from: /testas/
    to: /test/
  - from: /old-page-2/
    to: /new-page-2/
permalink: '{{ redirect.from }}'
pagination: { data: redirects, size: 1, alias: redirect }
---
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url={{ redirect.to }}">
    <link rel="canonical" href="{{ redirect.to }}">
    <title>Přesměrovávám na {{ redirect.to }}</title>
    <script>window.location.href = "{{ redirect.to }}"</script>
</head>
<body>
    <h1>Stránka byla přemístěna jinam.</h1>
    <p>Přesměrovávám na <a href="{{ redirect.to }}">{{ redirect.to }}</a></p>
</body>
</html>
