.C-ratio-21-9 {
    aspect-ratio: 21 / 9;
}

.C-ratio-16-9 {
    aspect-ratio: 16 / 9;
}

.C-ratio-3-2 {
    aspect-ratio: 3 / 2;
}

.C-ratio-4-3 {
    aspect-ratio: 4 / 3;
}

.C-ratio-5-4 {
    aspect-ratio: 5 / 4;
}

.C-ratio-1-1 {
    aspect-ratio: 1 / 1;
}

.C-ratio-4-5 {
    aspect-ratio: 4 / 5;
}

.C-ratio-2-3 {
    aspect-ratio: 2 / 3;
}

.C-ratio-3-4 {
    aspect-ratio: 3 / 4;
}

.C-ratio-9-16 {
    aspect-ratio: 9 / 16;
}

.C-ratio-9-21 {
    aspect-ratio: 9 / 21;
}
