<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|safe }} – {{ meta.title|safe }}</title>
    {% include "meta.njk" %}
    {% include "favicon.njk" %}
    <link rel="preconnect" href="https://fonts.bunny.net" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap" rel="stylesheet" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/styles.scss">
</head>
<body>
{% block body %}
    {{ content|safe }}
{% endblock %}
<script type="module" src="{{ '/assets/scripts/scripts.js'|url }}"></script>
</body>
</html>
