{% extends "./_base.njk" %}


{% block content %}
    <p class="fs-5 fw-semibold">
        {{ perex }}
    </p>

    {{ super() }}

    <hr>
    {% set postslist = collections.articles %}
    {% include "postslist.njk" %}

{% endblock %}
