{% extends "./base.njk" %}


{% block content %}
    <p><a href="/clanky/">Články</a></p>
    <h1>{{ title }}</h1>
    <p class="fs-5 fw-semibold">
        {{ perex }}
    </p>

    <div class="row">
        <div class="col">
            {{ super() }}
        </div>
        {% if image %}
            <div class="col">
                <img src="{{ image|url }}" alt="" class="img-fluid">
            </div>
        {% endif %}
    </div>
    {% set postslist = collections.articles|filterOutCurrentPage %}
    {% if postslist %}
        <section class="alert alert-info mt-5">
            <h2>Další články</h2>
            <div class="card-group">
            {% include "postslist.njk" %}
            </div>
        </section>
    {% endif %}
{% endblock %}
