{% extends "./base.njk" %}

{% block content %}
    {% if cards %}
        <section class="card-group gap-3 flex-wrap">
            {% for card in cards %}
                <article class="card bg-teal-100" style="min-width: 30ch;">
                    {% if card.image %}
                        <img src="{{ card.image }}" class="card-img-top" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ card.title }}</h2>
                        <div class="card-text">
                            {{ card.content|markdown|safe }}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endif %}

    {{ content|safe }}

{% endblock %}
