{% extends "./base.njk" %}


{% block content %}
    {{ super() }}

    <h2>{{ openingHours.title|safe }}</h2>
    {% include "opening-hours.njk" %}
    {% if openingHours.publishChanged and openingHours.showChangedHours %}
        <h3>{{ openingHours.openingHoursTitle|safe }}</h3>
    {% endif %}
    {{ openingHours.body|markdown|safe }}
{% endblock %}
