---
title: Aktuality
meta:
    title: Veterinární klinika Praha 5 – Veterina Smíchov
    description: |
        Veterinární klinika Praha 5, Veterina Smíchov, kočičí klinika, MVDr. Jana Lukešová, email: info@veterina-smichov.cz telefon: +420 602 355 496
---

<section>
    <div class="container-fluid">
        <div class="um-img"  style="max-width:100%;margin-bottom:max(-12rem,-10vw);">
            <img src="{{ '/assets/images/cms-managed/old/akt1-min.webp'|url }}" alt="" style="max-width:100%;height:auto;">
        </div>
        <div class="sect-text-border akt-resp" style="margin-top: 8rem !important;">
            <div class="sect-head-border">
                <span>Co je u nás nového</span>
            </div>
            <div id="top"></div>
            <div class="text-cont" style="margin: 35px 20px 20px 20px!important;">


                <div id="#" style="display: none; border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px"></div>
                <div id="162" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna v provozu kliniky
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        z důvodu dovolené bude klinika <strong>zavřena v termínu 10.2. - 16.2.</strong><br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>
                <div id="241224" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Změna ordinačních hodin kliniky během vánočních svátků
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        do pátku 20. 12. 2024 ordinujeme v běžné pracovní době. <br> Dále bude otevřeno dle následujícího rozpisu:<br><br>
                        <strong>23.12.</strong> PONDĚLÍ - <strong>13:00-18:00</strong><br>
                        <strong>24.12.</strong> ÚTERÝ - <strong>ZAVŘENO</strong><br>
                        <strong>25.12.</strong> STŘEDA - <strong>ZAVŘENO</strong><br>
                        <strong>26.12.</strong> ČTVRTEK - <strong>ZAVŘENO</strong><br>
                        <strong>27.12.</strong> PÁTEK - <strong>ZAVŘENO</strong><br>
                        <strong>28.12.</strong> SOBOTA - <strong>ZAVŘENO</strong><br>
                        <strong>29.12.</strong> NEDĚLE - <strong>ZAVŘENO</strong><br>
                        <strong>30.12.</strong> PONDĚLÍ - <strong>11:00-17:00</strong> - POUZE VÝDEJ OBJEDNANÝCH LÉČIV
                        A DIET - <strong>NEORDINUJEME, NEVYŠETŘUJEME!</strong> <br> - o objednávky léčiv a diet prosíme emailem do 29. 12.
                        nebo SMS!<br>
                        <strong>31.12.</strong> STŘEDA - <strong>ZAVŘENO</strong><br>
                        <strong>1.1.</strong> ČTVRTEK - <strong>13:00-19:00</strong><br>
                        <strong>2.1.</strong> PÁTEK - <strong>9:00-16:00</strong><br><br>

                        Od pondělí 6.1.2024 ordinujeme podle <a href="index.html#kontakt">obvyklých ordinačních hodin</a>.<br><br>


                        Přejeme Vám i Vašim mazlíčkům klidné svátky a v Novém roce hlavně mnoho lásky a zdraví,<br>
                        <i> Veterina Smíchov</i></p>

                </div>
                <div id="157" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna v provozu kliniky
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        <strong>7.10 a 8.10.</strong> máme z důvodu nemoci otevřeno v omezeném režimu. Pro objednávky schůzek, léků, diet a protiparazitárních přípravků volejte, prosím, na 602 355 496.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>
                <div id="105" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna v provozu kliniky
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        klinika má <strong>1.5.</strong> z důvodu státního svátku <strong>zavřeno</strong>.<br>Z důvodu dovolené bude klinika <strong>zavřena</strong>  i <strong>7.5. - 10.5.</strong><br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="234" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna v provozu kliniky
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        klinika bohužel do odvolání <strong>nemůže přijímat nové klienty</strong>.<br>O případných změnách v této situaci Vás budeme informovat.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="122" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna otevíracích hodin během Velikonoc
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        z důvodu dovolené bude klinika <strong>zavřena v termínu 29.3. - 2.4.</strong> a ve dnech <strong>3.-5.4.</strong> máme otevřeno pouze v mimořádném režimu, pro návštěvu nutno <strong>volat předem</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="2912" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Otevírací doba během Vánoc
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        v období Vánoc budeme mít <strong>otevřeno všechny pracovní dny</strong> podle normální pracovní doby, akorát v <strong>pátek 29.12.</strong> budeme mít <strong>zavřeno</strong>.<br>Naplánujte si proto, prosím, nákup všech léků, diet a zklidňujících přípravků, ideálně si je předem objednejte telefonicky nebo po emailu. <br><br> <strong>Přejeme klidné prožití adventu a Vánoc a mnoho štěstí a zdraví Vám i Vašim mazlíčkům nejen do Nového roku!
                        </strong><br> <i> Veterina Smíchov</i></p>
                </div>
                <div id="113" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna provozu kliniky 3.11.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        z provozních důvodů bude mít klinika <strong>3.11.</strong> po celý den <strong>zavřeno</strong>. <br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="210" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Omezená pracovní doba - 23.-27.10.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        ve dnech <strong> 23.-27.10.</strong>,  máme z důvovu nemoci omezenou pracovní dobu. Pro objednávky vyšetření, léků a diet <strong> volejte</strong>, prosím, na tel. číslo <strong>602 355 496</strong>. <br><br> <strong>Děkujeme za pochopení a omlouváme se za komplikace,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="162" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Umisťovací výstava koček 17.9.
                    </p>
                    <p style="text-align: center;">
                    </p>

                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        klinika pořádá v neděli <strong>17.9. od 11 do 17</strong> hodin <strong>umisťovací výstavu koček.</strong><br><br> <strong>Doufáme (společně s kočičkami), že se s Vámi uvidíme!</strong><br> <i> Veterina Smíchov</i></p>
                    <img
                    alt=""
                    src="{{ '/assets/images/cms-managed/old/VystavaVeterinaSmichov2023.webp'|url }}"
                     style="max-width: 100%;  height: auto;">
                </div>

                <div id="2412" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Změna odrinačních hodin kliniky během vánočních svátků
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br><br>
                        do čtvrtka 22.12. budeme ordinovat podle běžných pracovních hodin. Dále bude otevřeno dle rozpisu:<br><br>
                        <strong>23.12.</strong> PÁTEK - <strong>ZAVŘENO</strong><br>
                        <strong>24.12.</strong> SOBOTA - <strong>ZAVŘENO</strong><br>
                        <strong>25.12.</strong> NEDĚLE - <strong>ZAVŘENO</strong><br>
                        <strong>26.12.</strong> PONDĚLÍ - <strong>ZAVŘENO</strong><br>
                        <strong>27.12.</strong> ÚTERÝ - <strong>ZAVŘENO</strong><br>
                        <strong>28.12.</strong> STŘEDA - <strong>9:00-16:00</strong><br>
                        <strong>29.12.</strong> ČTVRTEK - <strong>13:00-19:00</strong><br>
                        <strong>30.12.</strong> PÁTEK - <strong>ZAVŘENO</strong><br>
                        <strong>31.12.</strong> SOBOTA - <strong>ZAVŘENO</strong><br>
                        <strong>1.1.</strong> NEDĚLE - <strong>ZAVŘENO</strong><br><br>

                        Od pondělí 2.1. ordinujeme dle běžného rozvrhu.<br><br>

                        Pokud potřebujete nějaké léky a diety, doporučujeme objednat si je do 21.12., abyste si je nejpozději 22.12. mohli vyzvednout.<br><br>


                        Přejeme vám klidné svátky a mnoho lásky a zdraví i v novém roce.<br>
                        <i> Veterina Smíchov</i></p>

                </div>



                <div id="2710" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Změna odrinačních hodin kliniky 17.11. a 18.11.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        klinika má <strong>17.11. a 18.11.</strong> po celý den <strong>zavřeno</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>

                </div>



                <div id="4722" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">UMÍSŤOVACÍ VÝSTAVA KOČEK 25.9.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení kočičí přátelé</strong>,<br>
                        dne <strong>25.9.</strong> proběhne ve spolupráci s <a href="https://www.kockydobrissko.cz">www.kockydobrissko.cz</a> v prostorech naší kliniky <strong>UMÍSŤOVACÍ VÝSTAVA KOČEK</strong> a to mezi <strong>11 a 17</strong> hodinou.<br> Letáček k akci <a href="/letak.docx" download="">zde</a>. <br><br> <strong>Těšíme se na viděnou,</strong><br> <i> Veterina Smíchov</i> </p>
                </div>


                <div id="279" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Změna provozu kliniky během vánočních svátků
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        během vánočního období máme otevřeno dle tabulky:</p><br>
                    <table style="position: relative;top: -10px; left: 20px">


                        <tr>


                            <td colspan="3" style="text-align: center;">Ordinační hodiny:</td>

                        </tr>
                        <tr>

                            <th style="padding-right: 10px">Pondělí 20. 12. 2021</th>
                            <td style="padding-right: 20px"></td>
                            <td>13:00 - 19:00</td>
                        </tr>

                        <tr>
                            <th style="padding-right: 10px">Úterý 21. 12. 2021</th>
                            <td style="text-align: center;padding-right: 20px"></td>
                            <td>13:00 - 19:00</td>
                        </tr>
                        <tr>
                            <th style="padding-right: 10px">Středa 22. 12. 2021

                            </th>
                            <td style="padding-right: 20px"></td>
                            <td>9:00 - 16:00</td>
                        </tr>
                        <tr>
                            <th style="padding-right: 10px">Čtvrtek 23. 12. 2021

                            </th>
                            <td style="text-align: center;padding-right: 20px"></td>
                            <td>ZAVŘENO</td>
                        </tr>
                        <tr>
                            <th style="padding-right: 10px">Pátek 24. 12. 2021

                            </th>
                            <td style="padding-right: 20px"></td>
                            <td>ZAVŘENO</td>
                        </tr>
                    <tr>
                        <th style="padding-right: 10px">Sobota 25. 12. 2021

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>ZAVŘENO</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Neděle 26. 12. 2021

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>ZAVŘENO</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Pondělí 27. 12. 2021

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>ZAVŘENO</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Úterý 28. 12. 2021

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>13:00 - 19:00</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Středa 29. 12. 2021

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>9:00 - 16:00</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Čtvrtek 30. 12. 2021

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>ZAVŘENO</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Pátek 31. 12. 2021

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>ZAVŘENO</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Sobota 1. 1. 2022

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>ZAVŘENO</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">Neděle 2. 1. 2022

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>ZAVŘENO</td>
                    </tr>
                    <tr>
                        <th style="padding-right: 10px">od Pondělí 3. 1. 2022

                        </th>
                        <td style="padding-right: 20px"></td>
                        <td>Dle běžné ordinační doby</td>
                    </tr>

                    </table>

                        <br><br> <p style="padding: 10px"><strong>Děkujeme za pochopení a přejeme klidné svátky a hodně

                            zdraví do nového roku!</strong><br> <i> Veterina Smíchov</i></p>
                </div>
                <div id="157" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Snížená přístupnost automobilem - oprava vozovky do 11.9.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        rádi bychom Vás upozornili, že v naší ulici probíhají opravy a je rozkopaná vozovka a zúžené chodníky. <br>V praxi to znamená, že pokud k nám jedete autem, tak je nejbližší místo k zaparkovaní před křižovatkou ulic Na Skalce a U Nikolajky a pokud k nám jdete pěšky, připravte se na trochu kličkování. <br>Situace by měla trvat do 11.9.2021. <strong>V každém případě máme otevřeno dle obvyklých ordinačních hodin.</strong> <br><br>Děkujeme za pochopení a omlouváme se za tyto komplikace.</p>
                </div>



                <div id="035" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Změna provozu kliniky o prázdninách
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        klinika bude ve dnech <strong>19. - 23.7. a 9. - 13.8.</strong> z důvodu dovolené po celý den <strong>zavřena</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="291" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Změna provozu kliniky 23.2.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        z provozních důvodů bude mít klinika <strong>23.2.</strong> po celý den <strong>zavřeno</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>


                <div id="151" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center"> Změna provozu kliniky 15.1.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        z provozních důvodů bude mít klinika <strong>15.1.</strong> po celý den <strong>zavřeno</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>


                <div id="1611" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Termíny nadcházející dovolené
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                       v následujících dnech bude mít klinika dovolenou a bude tedy <strong>zavřena</strong>: <strong>23. - 28.12.</strong> a <strong>30. - 31.12.</strong>.<br>
                        Během <strong>29.12.</strong> bude klinika <strong>otevřena</strong> v čase <strong>13:00 - 18:00</strong>.<br>
                        Od 4.1.2021 bude klinika otevřená podle normální otevírací doby.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="2810" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Státní svátek 28.10.
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                       během státního svátku <strong>28.10.</strong> bude klinika <strong>zavřená</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="dovolena" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Nadcházející dovolená
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        v termínech <strong> 17.8.   - 21.8.</strong> a <strong>17.9. - 18.9.</strong> má klinika dovolenou. <br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="leto" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna provozu kliniky v následujících dnech
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px"><strong>Vážení klienti</strong>,<br>
                        během července bude klinika zavřena v těchto dnech:<br>
                        - v <strong>pondělí 6.7.</strong> z důvodu státního svátku.<br>
                        - ve <strong>středu 8.7.</strong> z provozních důvodů.<br>
                        - v týdnu <strong>20.-26.7.</strong> z důvodu dovolené.<br>
                        <br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>
                <div id="1712" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna ordinačních hodin
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px">Vážení klienti,<br>
                        Až do odvolaní zkracujeme pracovní dobu - ve středy a v pátky máme pouze do 16:00. Zatím všechny domluvené schůzky platí, na jakékoliv další se, prosím, objednejte telefonicky a nechoďte k nám bez objednání. Zamezíte tak zbytečnému pobytu v čekárně.
                        <br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="309" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna ordinačních hodin o vánočních svátcích
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px">
                        Vážení klienti, během svátečních týdnů budeme mít otevřeno následovně:<br>

                        <table style="font-weight: bold">
                        <tr>
                            <td style="padding: 0px 20px 0px 20px">23.-29.12.2019</td>
                            <td style="text-align: center;padding-right: 20px">Zavřeno</td>
                        </tr>
                        <tr>
                        <td style="padding: 0px 20px 0px 20px">30.12.2019</td>
                        <td style="text-align: center;padding-right: 20px">13:00-16:00</td>
                        </tr>
                        <tr>
                        <td style="padding: 0px 20px 0px 20px">31.12.2019</td>
                        <td style="text-align: center;padding-right: 20px">13:00-16:00</td>
                        </tr>
                        <tr>
                        <td style="padding: 0px 20px 0px 20px">1.1.2020</td>
                        <td style="text-align: center;padding-right: 20px">Zavřeno</td>
                        </tr>
                        <tr>
                        <td style="padding: 0px 20px 0px 20px">2.1.2020</td>
                        <td style="text-align: center;padding-right: 20px">13:00-19:00</td>
                        </tr>
                        <tr>
                        <td style="padding: 0px 20px 0px 20px">3.1.2020</td>
                        <td style="text-align: center;padding-right: 20px">9:00-18:00</td>
                        </tr>
                        </table>
                        <span style="padding-left: 20px">od <strong>6.1.2020</strong> ordinujeme jako obvykle</span><br>
                        </p>
                        <p style="padding: 10px">Děkujeme za pochopení a přejeme příjemné prožití vánočních svátků a mnoho zdraví vám i vašim mazlíčkům v následujícím roce.
                    </p>
                </div>

                <div id="59" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Změna ordinačních hodin
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px">Vážení klienti, ve dnech <strong>5.9. a 19.9.</strong> máme výjimečně zkrácené ordinační hodiny. Oba dny bude otevřeno <strong>13:00 - 18:00</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>
                <div id="37" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px; border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Dovolená a změna ordinačních hodin
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px">Vážení klienti, v termínech <strong>5.8 - 9.8.</strong> má klinika dovolenou. Ke krátkodobé změně ordinační doby dojde v termínu <strong>12 - 15.8.</strong> a to na <strong>13:00 - 19:00</strong>, dále pak <strong>16.8.</strong> na <strong>13:00 - 18:00</strong>.<br><br> <strong>Děkujeme za pochopení,</strong><br> <i> Veterina Smíchov</i></p>
                </div>

                <div id="235" style="margin-top: 70px;margin-bottom: 40px;border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">PROVOZ NEPŘERUŠEN
                    </p>
                    <p style="text-align: center;">
                    </p>
                    <p style="padding: 10px">Vážení klienti, <strong>od 23. 5. 2019</strong> bude cca na 4-6 týdnů probíhat renovace fasády. <strong>Provoz však zůstane nepřerušen.</strong> <br><i>Tešíme se na Vaši návštěvu. Veterina Smíchov</i></p>
                </div>
                <div id="195" style="border-bottom: dashed; border-bottom-width: 1px; margin-top: 70px;border: 1px dashed #2e7d7d">
                    <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; margin-top: 60px; text-align: center">Umísťovací výstava koček
                    </p>
                    <p style="text-align: center;">Neděle 19.5., <strong>10:00 - 17:00</strong> v prostorech naší ordinace - Na Skalce 27, Praha 5 - Smíchov, vstupné dobrovolné
                    </p>
                    <p style="padding: 10px">Ve spolupráci s <a href="https://www.kockydobrissko.cz">Kočky Dobřišsko</a> Vás zveme na první umísťovací výstavu koček, která proběhne v prostorech naší ordinace. <br>
                    Kočičky se už těší na Vaši návštěvu.</p>

                </div>
            </div>

        </div>
    </div>
</section>
