---
layout: base
meta:
  title: Veterinární klinika Praha 5 – Veterina Smíchov
  description: |
    Veterinární klinika Praha 5, Veterina Smíchov, kočičí klinika, MVDr. Jana Lukešová, email: info@veterina-smichov.cz telefon: +420 602 355 496
eleventyNavigation:
  key: GDPR
  order: 4
---

<section>
  <div class="container-fluid">
    <div class="sect-text-border akt-resp">
      <div class="sect-head-border">
        <span
          >Prohlášení o zpracování osobních udajů
          <div id="gd"></div
        ></span>
      </div>

      <div class="text-cont">
        <div id="#" style="margin-top: 70px">
          <p>
            Pokud jste naším zákazníkem, odběratelem novinek nebo návštěvníkem
            webu, svěřujete nám své osobní údaje. My zodpovídáme za jejich
            ochranu a zabezpečení. Seznamte se, prosím, s ochranou osobních
            údajů, zásadami a právy, které máte v souvislosti s GDPR (Nařízení o
            ochraně osobních údajů).
          </p>
          <p>
            <strong>Kdo je správce?</strong><br />
            Jsme společnost -----------, IČO: ---------, se sídlem
            ---------------, vedená u Městského soudu v Praze pod spisovou
            značkou -----, zastoupená jednatelkou, ------------. Provozujeme
            webové stránky ---------. Vaše osobní údaje zpracováváme jako
            správce, tj. určujeme, jak budou osobní údaje zpracovávány a za
            jakým účelem, po jak dlouhou dobu a vybíráme případné další
            zpracovatele, kteří nám se zpracováním budou pomáhat.
          </p>
          <p>
            <strong>Kontaktní údaje</strong><br />
            Pokud se na nás budete chtít v průběhu zpracování obrátit, můžete
            nás kontaktovat na tel. čísle ------------- nebo na e-mail:
            -------------.
          </p>
          <p>
            <strong>Prohlašujeme</strong><br />
            Prohlašujeme, že jako správce vašich osobních údajů splňujeme
            veškeré zákonné povinnosti vyžadované platnou legislativou, zejména
            zákonem o ochraně osobních údajů a GDPR, a tedy že:<br /><br />

            - Budeme zpracovávat vaše osobní údaje jen na základě platného
            právního důvodu, a to především oprávněného zájmu, plnění smlouvy,
            zákonné povinnosti či uděleného souhlasu.<br />
            - Plníme dle článku 13 GDPR informační povinnost ještě před
            zahájením zpracování osobních údajů.<br />
            - Umožníme vám a budeme vás podporovat v uplatňování a plnění vašich
            práv podle zákona o ochraně osobních údajů a GDPR.<br />
          </p>
          <p>
            <strong>Rozsah osobních údajů a účely zpracování</strong><br />
            Zpracováváme osobní údaje, které nám svěříte sami, a to z
            následujících důvodů (pro naplnění těchto účelů):<br />
          </p>
          <p>
            <strong>Poskytování služeb</strong><br />
            Vaše osobní údaje v rozsahu: fakturační údaje, e-mail, telefon,
            případně korespondenční adresu nezbytně potřebujeme k poskytování
            služeb.<br />
          </p>
          <p>
            <strong>Vedení účetnictví</strong><br />
            Jste-li zákazníky, vaše osobní údaje (fakturační údaje) nezbytně
            potřebujeme, abychom vyhověli zákonné povinnosti pro vystavování a
            evidenci daňových dokladů.<br />
          </p>
          <p>
            <strong>Marketing a zasílání newsletterů</strong><br />
            Vaše osobní údaje (e-mail a jméno), využíváme za účelem přímého
            marketingu - zasílání obchodních sdělení. Jste-li naším zákazníkem,
            děláme tak z oprávněného zájmu, neboť důvodně předpokládáme, že vás
            naše novinky zajímají, a to po dobu 5 let od poslední objednávky.<br />
            Pokud nejste naším zákazníkem, zasíláme vám newslettery jen na
            základě vašeho souhlasu, po dobu 5 let od udělení.
          </p>
          <p>
            <strong>Fotografie a video záznamy ze seminářů</strong><br />
            Na některých našich živých akcích - školeních, seminářích, …
            pořizujeme fotografickou dokumentaci či video záznam. Fotografie
            používáme v propagačních materiálech, především na webu. Video
            záznam slouží účastníkům online kurzu ke zhlédnutí. U těchto
            materiálů nikdy nenajdete jména účastníků, jedině pokud by se
            jednalo o referenci a to na základě souhlasu. Pokud byste na
            záznamech nechtěli být, dejte nám vědět na našich kontaktních
            údajích před pořádáním živé akce.<br />
            Vaše osobní údaje si ponecháváme po dobu běhu promlčecích lhůt,
            pokud zákon nestanoví delší dobu k jejich uchování nebo jsme v
            konkrétních případech neuvedli jinak.
          </p>
          <p>
            <strong>Cookies</strong><br />
            Při procházení našich webových stránek zaznamenáváme vaši IP adresu,
            jak dlouho se na stránce zdržíte a ze které stránky přicházíte.
            Používání cookies pro měření návštěvnosti webu a přizpůsobení
            zobrazení webových stránek vnímáme jako svůj oprávněný zájem
            správce, neboť věříme, že díky tomu vám můžeme nabídnout ještě lepší
            služby.<br />
            Cookies pro cílení reklamy budou zpracovávány jen na základě vašeho
            souhlasu.<br />
            Naše webové stránky lze procházet také v režimu, který neumožňuje
            sbírání osobních údajů. Používání cookies můžete na svém počítači v
            internetovém prohlížeči zakázat.
          </p>
          <p>
            <strong>Zabezpečení a ochrana osobních údajů</strong><br />
            Chráníme osobní údaje v maximální možné míře pomocí moderních
            technologií, které odpovídají stupni technického rozvoje. Přijali
            jsme a udržujeme technická a organizační opatření, která zamezují
            zneužití, poškození nebo zničení vašich osobních údajů.
          </p>
          <p>
            <strong>Předání osobních údajů třetím osobám</strong><br />
            K vašim osobním údajům mají přístup naši zaměstnanci a
            spolupracovníci, kteří jsou vázáni mlčenlivostí a proškoleni v
            oblasti bezpečnosti zpracování osobních údajů.<br />
            Většinu zpracovatelských operací zvládáme sami a nepotřebujeme k nim
            3. strany.<br />
            Pro zajištění některých konkrétních zpracovatelských operací, které
            nedokážeme zajistit vlastními silami, využíváme služeb a aplikací
            zpracovatelů, kteří se na dané zpracování specializují a jsou v
            souladu s GDPR.<br />
            Jsou to posyktovatelé následujících platforem a služeb:<br />
            Webdesign, webhosting<br />
            Fakturační a účetní služby<br />
            Google Analytics.<br />
            Je možné, že se v budoucnu rozhodneme využít další aplikace či
            zpracovatele, pro usnadnění a zkvalitnění zpracování. Slibujeme vám
            však, že v takovém případě při výběru, budeme na zpracovatele klást
            minimálně stejné nároky na zabezpečení a kvalitu zpracování jako na
            sebe.
          </p>
          <p>
            <strong>Předávání dat mimo Evropskou unii</strong><br />
            Data zpracováváme výhradně v Evropské unii nebo v zemích, které
            zajišťují odpovídající úroveň ochrany na základě rozhodnutí Evropské
            komise.
          </p>
          <p>
            <strong> Vaše práva v souvislosti s ochranou osobních údajů</strong
            ><br />
            V souvislosti s ochranou osobních údajů máte řadu práv. Pokud budete
            chtít některého z těchto práv využít, prosím, kontaktujte nás
            prostřednictvím e-mailu: terhanus@gmail.com.
          </p>
          <p>
            Máte <strong>právo na informace</strong>, které je plněno již touto
            informační stránkou se zásadami zpracování osobních údajů.<br />
            Díky <strong>právu na přístup</strong> nás můžete kdykoli vyzvat a
            my vám doložíme ve lhůtě 30 dní, jaké vaše osobní údaje zpracováváme
            a proč.<br />
            Pokud se u vás něco změní nebo shledáte své osobní údaje neaktuální
            nebo neúplné, máte
            <strong>právo na doplnění a změnu</strong> osobních údajů.<br />
            <strong>Právo na omezení zpracování</strong> můžete využít, pokud se
            domníváte, že zpracováváme vaše nepřesné údaje, domníváte se, že
            provádíme zpracování nezákonně, ale nechcete všechny údaje smazat
            nebo pokud jste vznesl námitku proti zpracování.<br />
            Omezit můžete rozsah osobních údajů nebo účelů zpracování. (Např.
            odhlášením z newsletteru omezujete účel zpracování pro zasílání
            obchodních sdělení).
          </p>
          <p>
            <strong>Právo na výmaz (být zapomenut)</strong><br />
            Vaším dalším právem je právo na výmaz (být zapomenut). Nechceme na
            vás zapomenout, ale pokud si to budete přát, máte na to právo. V
            takovém případě vymažeme veškeré vaše osobní údaje ze systému i ze
            systému všech dílčích zpracovatelů a záloh. Na zajištění práva na
            výmaz potřebujeme 30 dní.<br />
            V některých případech jsme vázáni zákonnou povinností, a např.
            musíme evidovat vystavené daňové doklady po lhůtu stanovenou
            zákonem. V tomto případě tedy smažeme všechny takové osobní údaje,
            které nejsou vázány jiným zákonem. O dokončení výmazu vás budeme
            informovat na e-mail.
          </p>
          <p>
            <strong>Stížnost u Úřadu na ochranu osobních údajů</strong><br />
            Pokud máte pocit, že s vašimi údaji nezacházíme v souladu se
            zákonem, máte právo se se svou stížností kdykoli obrátit na Úřad pro
            ochranu osobních údajů. Budeme moc rádi pokud nejprve budete o tomto
            podezření informovat nás, abychom s tím mohli něco udělat a případné
            pochybení napravit.
          </p>
          <p>
            <strong
              >Odhlášení ze zasílání newsletterů a obchodních sdělení</strong
            ><br />
            E-maily s inspirací, články či produkty a službami vám zasíláme
            jste-li náš zákazník na základě našeho oprávněného zájmu.<br />
            Pokud zákazníkem ještě nejste, posíláme vám je jen na základě vašeho
            souhlasu. V obou případech můžete ukončit odběr našich e-mailů.
          </p>
          <p>
            <strong>Mlčenlivost</strong><br />
            Dovolujeme si vás ujistit, že naši zaměstnanci i spolupracovníci,
            kteří budou zpracovávat vaše osobní údaje, jsou povinni zachovávat
            mlčenlivost o osobních údajích a o bezpečnostních opatřeních,
            jejichž zveřejnění by ohrozilo zabezpečení vašich osobních údajů.
            Tato mlčenlivost přitom trvá i po skončení závazkových vztahů s
            námi. Bez vašeho souhlasu nebudou vaše osobní údaje vydány žádné
            jiné třetí straně.
            <br /><br />
            Tyto zásady zpracování osobních údajů platí od 22. 5. 2018.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
