---
layout: base
meta:
    title: Veterinární klinika Praha 5 – Veterina Smíchov
    description: |
        Veterinární klinika Praha 5, Veterina Smíchov, kočičí klinika, MVDr. Jana Lukešová, email: info@veterina-smichov.cz telefon: +420 602 355 496
eleventyNavigation:
    key: Úvod
    order: 1
---

<section>
    <div class="hp-ex">
        <p style="display: none">
            <a href="/aktuality"
                ><i
                    class="fa fa-exclamation-circle fa-2x"
                    aria-hidden="true"
                    style="color: #05c4c9; vertical-align: -18%"
                ></i>
                Změna ordinačních hodin kliniky během vánočních svátků<br />
                - diety a léky budou k vyzvednutí 30.12., prosíme o objednávku předem emailem či SMS do
                29.12.</a
            >
        </p>
        <p style="display: none">
            <a href="/aktuality#162"
                ><i
                    class="fa fa-exclamation-circle fa-2x"
                    aria-hidden="true"
                    style="color: #05c4c9; vertical-align: -18%"
                ></i>
                Z důvodu dovolené bude klinika <strong>zavřena</strong> ve dnech <strong>10.-16.2.</strong></a
            >
        </p>
        <p style="display: none">
            <a href="/aktuality#234"
                ><i
                    class="fa fa-exclamation-circle fa-2x"
                    aria-hidden="true"
                    style="color: #05c4c9; vertical-align: -18%"
                ></i>
                Klinika bohužel do odvolání <strong>nemůže přijímat nové klienty</strong>.</a
            >
        </p>

    </div>

    <div class="hp-act">

        <table style="display: none; position: relative; top: -10px; left: 15%">
            <tbody>
                <tr>
                    <td colspan="3" style="text-align: center">Ordinační hodiny:</td>
                </tr>
                <tr>
                    <th style="padding-right: 10px">PO</th>
                    <td style="padding-right: 20px"></td>
                    <td>13:00 - 19:00</td>
                </tr>

                <tr>
                    <th style="padding-right: 10px">ÚT</th>
                    <td style="text-align: center; padding-right: 20px"></td>
                    <td>13:00 - 19:00</td>
                </tr>
                <tr>
                    <th style="padding-right: 10px">ST</th>
                    <td style="padding-right: 20px"></td>
                    <td>9:00 - 16:00</td>
                </tr>
                <tr>
                    <th style="padding-right: 10px">ČT</th>
                    <td style="text-align: center; padding-right: 20px"></td>
                    <td>13:00 - 19:00</td>
                </tr>
                <tr>
                    <th style="padding-right: 10px">PÁ</th>
                    <td style="padding-right: 20px"></td>
                    <td>9:00 - 16:00</td>
                </tr>
            </tbody>
        </table>

        <p></p>
    </div>

    <div class="um-img">
        <div class="logo-homepage" >
                <img
                src="{{ '/assets/images/logo.min.svg' | url }}"

                    style="width:400px;max-width: 100%;height: auto;display: block;"
                />
            </div>
            <p  style="position: absolute;bottom: 2rem;left: 2rem;padding: 1rem; background-color: rgb(255 255 255 / 0.5);">

                    <i
                        class="fa fa-exclamation-circle fa-2x"
                        aria-hidden="true"
                        style="color: #05c4c9; vertical-align: -18%"
                    ></i>
                    Na vyšetření je potřeba se předem objednat telefonicky nebo po emailu.
            </p>
        <img
        src="{{ '/assets/images/old/kitten2.webp' | url }}"
            alt=""
            style="width: 100%"
        />
    </div>
{#
    <div id="upozorneni"></div>
    <div class="container-fluid">
        <div class="sect-text-border">
            <div class="sect-head-border">
                <span>Upozornění</span>
            </div>
            <div class="text-cont">
                <p>
                    <br />
                    <strong>
                        Z hygienických důvodů prosíme, abyste se až do odvolání na veškeré zákroky objednávali
                        telefonicky, či po emailu.</strong
                    ><br />
                    <br />

                    Děkujeme za pochopení<br /><br />

                    Veterina Smíchov<br />
                </p>
            </div>
        </div>
    </div>
#}
    <div id="onas"></div>
    <div class="container-fluid">
        <div class="sect-text-border">
            <div class="sect-head-border">
                <span>O nás</span>
            </div>
            <div class="text-cont">
                <p style="font-size: 18px; font-weight: 700; text-align: center">
                    Veterina Smíchov
                </p>
                <p style="text-align: center">Na Skalce 991/27, Praha 5 – Smíchov, 150 00
                    <br><a href="https://maps.app.goo.gl/51YvnTKZ34cg9jmTA">Zobrazit adresu na mapách Google</a></p>
                <br />
                {#
                <p style="text-align: center">
                    <br />
                    Sdružení Galeé ukončilo k 31.3. 2018 svou činnost, ale my pokračujeme na nové adrese.
                </p>

                <br />
                #}
                <p>
                    Ordinaci na pražském Smíchově jsme pro naše klienty otevřely 25. dubna 2018. I když je to
                    teprve nedávno, nejsme žádní nováčci. MVDr. Jana Lukešová má již 25 letou praxi a se
                    sestřičkou Ing. Petrou Zamarovskou spolupracuje 5 let. Nabízíme všeobecnou veterinární péči,
                    preventivní i akutní chirurgické zákroky, specializujeme se na dentální péči a je možnost i
                    krátkodobé hospitalizace vašeho zvířete. Mimoto máme k dispozici širokou škálu veterinárních
                    diet. Kromě koček, které jsou naší specialitou, samozřejmě ošetřujeme i pejsky a další malá
                    zvířata.
                </p>
                <br />
                <p style="font-size: 18px; font-weight: 700">Co nabízíme</p>
                <p>
                    <strong>Preventivní péče</strong><br />
                    <span
                        >- Vakcinace, čipování, europasy, atesty před vycestováním, odčervení, diagnostika
                        gravidity, stanovení doby nakrytí, moderní druhy antikoncepce, vedení porodu</span
                    ><br /><br />
                    <strong>Diagnostika</strong><br />
                    <span
                        >- Hematologické vyšetření, biochemické vyšetření, vyšetření moči, vyšetření stolice,
                        cytologické vyšetření, vyšetření tlaku krve, EKG, RTG s digitalizací – nativní i
                        kontrastní, USG s doplerem, vyšetření kůže na dermatophyta.</span
                    ><br /><br />
                    <strong> Terapie</strong><br />
                    <span
                        >- Komplexní terapie, kardiologie, gastroenterologie, endokrinologie, urologie,
                        gynekologie, neurologie, dermatologie, oftalmologie, onkologie</span
                    ><br /><br />
                    <strong>Chirurgické a stomatologické úkony</strong><br />
                    <span
                        >- Chirurgie měkkých tkání, chirurgie v oblasti hlavy, stomatologie, včetně úprav chrupu
                        hlodavců, gynekologické a urologické operativní zákroky, až na výjimky vše v inhalační
                        anestezii, s přístrojovou kontrolou životních funkcí, s udržovanou teplotou pacienta a s
                        kontinuální řízenou infuzí</span
                    ><br /><br />
                    <strong>Prodej</strong><br />
                    <span
                        >- Veterinárních diet, kvalitních krmiv pro zdravá zvířata, léčebné kosmetiky a
                        protiparazitárních přípravků</span
                    ><br /><br />
                    <strong>A další...</strong><br /><br />
                </p>
            </div>
        </div>
    </div>
    <div id="tym"></div>
    <div class="container-fluid">
        <div class="sect-text-border">
            <div class="sect-head-border-v">
                <span>Náš tým</span>
            </div>
            <div class="text-cont-v">
                <div class="row">
                    <div class="col-xs-12" style="margin-bottom: 40px"></div>

                    <div class="col-md-12 col-xs-12" style="padding-right: 0px">
                        <img
                            src="{{ '/assets/images/old/fp1.webp' | url }}"
                            class="prof-pic-resp"
                        />
                    </div>
                    <div class="col-md-12 col-xs-12" style="margin-bottom: 10px; padding-left: 15px">
                        <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px">MVDr. Jana Lukešová</p>
                        <p style="margin-bottom: 15px">Lékařka</p>
                    </div>
                    <div class="col-xs-12" style="margin-bottom: 40px">
                        <p>
                            MVDr. Jana Lukešová graduovala v roce 1993 na Veterinární a farmaceutické fakultě v
                            Brně, obor veterinární lékařství. Ihned nastoupila do praxe a postupně se
                            orientovala na kočičí medicínu, speciálně na oftalmologii, dermatologii a
                            stomatologii. Veterinární medicína jí nejenom živí, ale především baví, a proto
                            neustále sleduje novinky v oblasti kočičího zdraví a zdokonaluje se v této oblasti.
                            Spojuje v sobě profesionální a osobní přístup k pacientovi i k majitelům. Má ráda
                            turistiku, četbu fantasy a historických kriminálek, chová dva psy, dvě kočky a jednu
                            dceru.
                        </p>

                        <ul style="padding-left: 20px; font-family:'Open Sans'">
                            <li><strong>Absolvovala na VFU Brno v 1993</strong></li>
                            <li>1993 – 1996 praxe u MVDr. Lonského</li>
                            <li>1996 – 2010 vlastní praxe v ul. Lípová, Praha 2</li>
                            <li>2011 – 2018 Veterinární klinika Galeé</li>
                            <li>2018 - současnost Veterina Smíchov</li>
                        </ul>
                    </div>
                    <br /><br /><br /><br />
                    <div class="col-xs-12 col-md-12" style="padding-right: 0px">
                        <img
                        src="{{ '/assets/images/old/fp2.webp' | url }}"

                            class="prof-pic-resp"
                        />
                    </div>
                    <div class="col-xs-12 col-md-12" style="margin-bottom: 10px; padding-left: 15px">
                        <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px">
                            Ing. Petra Nováková Zamarovská
                        </p>
                        <p>Veterinární technik</p>
                    </div>
                    <br />
                    <div class="col-xs-12">
                        <p>
                            Asistentka Ing. Petra Zamarovská absolvovala Českou zemědělskou univerzitu v Praze,
                            kterou v roce 2012 zakončila státní závěrečnou zkouškou v oboru Speciální chovy. Od
                            dětství měla v rodině nějakého hlodavce. S přestávkami pracuje s doktorkou Lukešovou
                            již od roku 2009, jejími zájmy jsou výlety, pikniky, scrabble, náušnice a belgická
                            králinda Růžena.
                        </p>
                    </div>
                    <br /><br /><br /><br />
                    <div class="col-xs-12 col-md-12" style="padding-top: 40px; padding-right: 0px">
                        <img
                        src="{{ '/assets/images/old/fp3.webp' | url }}"

                            class="prof-pic-resp"
                        />
                    </div>
                    <div class="col-xs-12 col-md-12" style="margin-bottom: 10px; padding-left: 15px">
                        <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px">Kočka Ludvíček</p>
                        <p>Homeoffice, Správa sociálních mňouků</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cenik"></div>
    <div class="container-fluid">
        <div class="sect-text-border">
            <div class="sect-head-border">
                <span>Ceník</span>
            </div>
            <div class="text-cont">
                <p style="padding-top: 30px">
                    Ceny jsou orientační, mohou se měnit v závislosti na hmotnosti a stavu pacienta.<br />
                    Právo na změnu vyhrazeno!<br />
                    Poslední aktualizace 15.01.2025
                </p>

                <table>
                    <tbody>
                        <tr>
                            <th aria-colspan="2" style="padding-top: 20px; font-size: 18px">Základní úkony</th>
                        </tr>
                        <tr>
                            <th>Úkon</th>
                            <th>Cena</th>
                        </tr>
                        <tr>
                            <td>Základní vyšetření</td>
                            <td>525 Kč</td>
                        </tr>
                        <tr>
                            <td>Kontrola</td>
                            <td>315 Kč</td>
                        </tr>
                        <tr>
                            <td>Vyšetření drobné zvíře</td>
                            <td>335 Kč</td>
                        </tr>
                        <tr style="display: none">
                            <td>Vyšetření EKG</td>
                            <td>420 Kč</td>
                        </tr>
                        <tr>
                            <td>Vyšetření moči + sediment</td>
                            <td>395 Kč</td>
                        </tr>
                        <tr>
                            <td>Vyšetření USG</td>
                            <td>765 Kč</td>
                        </tr>
                        <tr>
                            <td>Vyšetření tlaku tonometrem</td>
                            <td>365 Kč</td>
                        </tr>
                        <tr>
                            <td>Vyšetření stolice – flotace</td>
                            <td>465 Kč</td>
                        </tr>
                        <tr>
                            <td>Vakcinace kočky - virózy</td>
                            <td>774 - 1.155 Kč</td>
                        </tr>
                        <tr>
                            <td>Vakcinace psa - virózy</td>
                            <td>731 - 1.235 Kč</td>
                        </tr>
                        <tr>
                            <td>Vakcinace kočky/psa - vzteklina</td>
                            <td>574 Kč</td>
                        </tr>
                        <tr>
                            <td>Vakcinace králík - mor a myxomatóza</td>
                            <td>780 Kč</td>
                        </tr>
                        <tr>
                            <td>Odběr krve + hematologické vyšetření</td>
                            <td>900 Kč</td>
                        </tr>
                        <tr style="display: none">
                            <td>Odběr krve + biochemické vyšetření + ionty</td>
                            <td>1.500 Kč</td>
                        </tr>
                        <tr>
                            <td>Odběr krve + vyšetření T4 + ionty</td>
                            <td>1.260 Kč</td>
                        </tr>
                        <tr style="display: none">
                            <td>Odběr krve + SDMA (počáteční selhávání ledvin)</td>
                            <td>855 Kč</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 30px">
                                Odběr krve předoperační/geriatrické (biochemie, hematologie, ionty, T4, SDMA,
                                proBNP)
                            </td>
                            <td>4.020 Kč</td>
                        </tr>
                        <tr>
                            <td>Odběr krve + vyšetření krevní paraziti psa</td>
                            <td>1.225 Kč</td>
                        </tr>
                        <tr>
                            <td>Odběr krve + vyšetření FeLV a FIV kočky</td>
                            <td>1.165 Kč</td>
                        </tr>
                        <tr>
                            <td>Drápky</td>
                            <td>100 Kč</td>
                        </tr>
                        <tr>
                            <td>Žlázky</td>
                            <td>100 Kč</td>
                        </tr>
                        <tr>
                            <td>RTG - jeden snímek</td>
                            <td>550 Kč</td>
                        </tr>
                        <tr style="display: none">
                            <td>Hospitalizace - den</td>
                            <td>855 Kč</td>
                        </tr>
                        <tr>
                            <td>Pohotovostní příplatek</td>
                            <td>840 Kč</td>
                        </tr>
                        <tr>
                            <th aria-colspan="2" style="padding-top: 20px; font-size: 18px">
                                Kastrace v inhalační anestezii
                            </th>
                        </tr>
                        <tr>
                            <th>Úkon</th>
                            <th>Cena</th>
                        </tr>

                        <tr>
                            <td>Kastrace kočka</td>
                            <td>2.850 Kč</td>
                        </tr>

                        <tr>
                            <td>Kastrace kocour</td>
                            <td>1.950 Kč</td>
                        </tr>

                        <tr>
                            <td>Kastrace fena do 5 kg</td>
                            <td>7.350 Kč</td>
                        </tr>

                        <tr>
                            <td>Kastrace fena do 15 kg</td>
                            <td>7.900 Kč</td>
                        </tr>

                        <tr>
                            <td>Kastrace fena nad 15 kg</td>
                            <td>8.950 Kč</td>
                        </tr>

                        <tr>
                            <td>Kastrace pes do 15 kg</td>
                            <td>5.800 Kč</td>
                        </tr>
                        <tr>
                            <td>Kastrace pes nad 15 kg</td>
                            <td>6.300 Kč</td>
                        </tr>

                        <tr>
                            <td>Kastrace králík / králice</td>
                            <td>2.850 Kč</td>
                        </tr>

                        <tr>
                            <th aria-colspan="2" style="padding-top: 20px; font-size: 18px">
                                Stomatologické ošetření v inhalační anestezii
                            </th>
                        </tr>
                        <tr>
                            <th>Úkon</th>
                            <th>Cena</th>
                        </tr>

                        <tr>
                            <td>Čištění ultrazvukem + leštění</td>
                            <td>3.000 - 4.500 Kč</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 30px">
                                Čištění ultrazvukem + leštění + mnohočetné extrakce pes
                            </td>
                            <td>9.000 - 15.000 Kč</td>
                        </tr>
                        <tr>
                            <td>Čištění ultrazvukem + leštění + mnohočetné extrakce kočka</td>
                            <td>9.000 - 15.000 Kč</td>
                        </tr>
                        <tr style="display: none">
                            <td>Jednoduchá extrakce kočka/pes</td>
                            <td>480 Kč</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</section>
