---
layout: base
eleventyNavigation:
    key: Home
    order: 1
---

<div class="container">
    <p><a href="/admin" class="button">Admin</a></p>
    <h1>Veterina Smíchov</h1>
    <ul>
        <li>Eleventy 3.0.0</li>
        <li>New Eleventy Dev Server with live reload</li>
        <li>Vite 6.2 as Middleware in Eleventy Dev Server (uses <a href="https://github.com/11ty/eleventy-plugin-vite/">eleventy-plugin-vite</a>)</li>
        <li>Eleventy build output is post-processed by <a href="https://vitejs.dev" rel="nofollow">Vite</a> (with Rollup)</li>
        <li>CSS/Sass post-processing with PostCSS incl. <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a> and cssnano</li>
        <li>Uses <a href="https://matthiasott.com/notes/how-i-structure-my-css" rel="nofollow">my own opinionated CSS/Sass structure</a></li>
        <li>Basic fluid typography based on <a href="https://utopia.fyi" rel="nofollow">Utopia</a></li>
        <li>Basic dark mode support (using <code>prefers-color-scheme</code> and CSS Custom Properties)</li>
        <li>RSS feed 🧡</li>
        <li>XML sitemap</li>
    </ul>
</div>
